<div class="uk-container">
<!--  <div class="uk-card uk-card-small " >-->
<!--    <div class="uk-card-header">-->
<!--      <h2 class="uk-card-title">Popis pacijenata</h2>-->
<!--    </div>-->
<!--    <div  class="uk-card-body">-->
<!--      <table class="uk-table uk-table-striped">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th >mbo</th>-->
<!--          <th >ime</th>-->
<!--          <th >prezime</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let patient of patients" >-->
<!--          <td >{{patient.mbo}}</td>-->
<!--          <td >{{patient.name}}</td>-->
<!--          <td >{{patient.surname}}</td>-->
<!--          <td (click)="viewPatient(patient.idPatient)"><i class="fa-solid fa-file-medical fa-lg" style="color: #1e87f0;"></i></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
  <app-table [page]="patients" [columnOptions]="colummOptions" [title]="title" [actions]="actions"
             (onFilterChange)="filterChanged($event)"
             (onFilterRemove)="filterRemoved($event)"> </app-table>
</div>
