<div class="uk-container uk-margin uk-padding">
  <div class="uk-text-right uk-padding-small">
    <i class="fa-regular fa-user"></i>
    {{doctor.specialization.shortSpecialization}} {{doctor.name}} {{doctor.surname}}
  </div>
  <button class="uk-button uk-button-default " type="button" uk-toggle="target: #novi-nalaz">DODAJ NALAZ</button>

  <div class="uk-card uk-card-small " >
    <div class="uk-card-header">
      <h2 class="uk-card-title">Povijest bolesti</h2>
    </div>
    <div  class="uk-card-body">
      <div  *ngFor="let rp of reportsAndPrescriptions">
        <div class="uk-grid">
          <div class="uk-width-1-2"><span class="uk-text-primary uk-text-uppercase">Dijagnoza:</span>  {{rp.report.diagnosis }}</div>
          <div class="uk-width-1-3">
            <i class="fa-solid fa-calendar-days" style="color: #1e87f0;"></i>&nbsp;
            <span class="uk-text-bold">{{rp.report.dateReport | date: 'yyyy-MM-dd'}}</span>
          </div>
          <div class="uk-width-1-6">
            <button (click)="deleteReport(rp.report.idReport)" class="uk-button uk-button-default"><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></button>
            <button (click)="showReportDetails=true" *ngIf="!showReportDetails" class="uk-button uk-button-default"><i class="fa-solid fa-chevron-down"></i></button>
            <button (click)="showReportDetails=false" *ngIf="showReportDetails" class="uk-button uk-button-default"><i class="fa-solid fa-chevron-up"></i></button>
          </div>

        </div>
        <div *ngIf="showReportDetails">
          <div class="uk-padding-small uk-padding-remove-left"><span class="uk-text-primary uk-text-uppercase">anamneza: </span> {{rp.report.anamnesis}}</div>

          <div class="uk-padding-small uk-padding-remove-left"><span class="uk-text-primary uk-text-uppercase">preporuke: </span> {{rp.report.recomendation}}</div>

          <div class="uk-padding-small uk-padding-remove-left uk-padding-remove-bottom"><span class="uk-text-primary uk-text-uppercase">izdani recepti:</span> </div>
          <table class="uk-table">
            <thead>
              <tr>
                <th>lijek</th>
                <th>upute za korištenje</th>
                <th>datum isteka recepta</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prescription of rp.prescriptions">
                <td>{{prescription.medication.nameMedication}}</td>
                <td>{{prescription.instructions}}</td>
                <td>{{prescription.dateOfExpiry}}</td>
              </tr>
            </tbody>


          </table>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <!-- This is the modal -->
  <div  uk-modal id="novi-nalaz">
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Novi nalaz</h2>

      <div class="uk-grid">
        <div class="uk-width-1-2@s">
          <div class="uk-margin">
            <label>Datum: {{todayDate}}</label>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <div class="uk-margin">
            <label>Ustanova: {{doctor.facility.nameFacility}}</label>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <div class="uk-margin">
            <label>Liječnik: {{doctor.specialization.shortSpecialization}} {{doctor.name}} {{doctor.surname}}</label>
          </div>
        </div>
        <div class="uk-width-1-2@s">
          <div class="uk-margin">
            <label>Pacijent: {{patient.mbo}} {{patient.name}} {{patient.surname}}</label>
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <textarea class="uk-textarea" placeholder="anamneza"  type="textarea" [(ngModel)]="report.anamnesis"></textarea>
      </div>
      <div class="uk-margin">
        <textarea class="uk-textarea" placeholder="dijagnoza" type="textarea" [(ngModel)]="report.diagnosis" ></textarea>
      </div>
      <div class="uk-margin">
        <textarea class="uk-textarea" placeholder="preporuke" type="textarea" [(ngModel)]="report.recomendation"></textarea>
      </div>

      <h4>Recepti <a (click)="addPrescription()"><i class="fa-regular fa-square-plus" style="color: #1e87f0;"></i></a></h4>
      <div *ngFor="let prescription of prescriptions, let i=index" class="uk-grid">
        <div class="uk-width-1-2">
          Lijek:
        </div>
        <div class="uk-width-1-2">
          Datum isteka recepta:
        </div>
        <div class="uk-width-1-2">
          <select  [(ngModel)]="prescription.medication.idMedication"  class="uk-select"  style="width:200px">
            <option *ngFor="let medication of medications" [value]="medication.idMedication" >
              {{medication.nameMedication}}
            </option>
          </select>
        </div>
        <div class="uk-width-1-2">
          <input type="date" [(ngModel)]="prescription.dateOfExpiry" class="uk-input">
        </div>
        <div  class="uk-width-1-1 uk-margin-top">
          <textarea class="uk-textarea" placeholder="upute za korištenje" type="textarea" [(ngModel)]="prescription.instructions"></textarea>
        </div>
       <hr>

      </div>


      <p class="uk-text-right">
        <button class="uk-button uk-button-danger uk-modal-close" type="button">ODUSTANI</button>
        <button class="uk-button uk-button-primary" type="button" (click)="saveReportAndPrescriptions()">SPREMI</button>
      </p>

    </div>
  </div>
</div>
